#title {
    text-align: center;
    font-size: 100px;
    padding-top: 10px;
    margin-bottom: 30px;
    color: rgb(150, 150, 255);
}
#NAV-BAR {
    display: grid;
    color: rgb(0, 162, 119);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 70px;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
#say-hi {
    text-align: center;
    padding: 30px;
    color: rgb(114, 26, 255);
}
#body {
    text-align: center;
    padding: 30px;
    color: rgb(114, 26, 255);
    margin-bottom: 100px;
}
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
#copyright {
    font-size: 15px;
    text-align: center;
    padding: 5px;
    color: rgb(0, 162, 119);
}
a {
    text-decoration: none;
}
.active {
    color: rgb(114, 26, 255);
}
.inactive {
    color: rgb(0, 162, 119);
}
.contact-text {
    color: rgb(3, 32, 23);
    text-decoration: none;
}