* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #181818;
    font-size: 1.2rem;
    font-weight: bold;
}

.color1 {
    background-color: rgb(244, 170, 170);
}
.color2 {
    background-color: rgb(253, 236, 167);
}
.color3 {
    background-color: rgb(172, 254, 211);
}
.color4 {
    background-color: rgb(104, 154, 255);
}
.color5 {
    background-color: rgb(171, 122, 255);
}