#date {
    text-align: left;
    margin-left: 18%;
    margin-right: 18%;
    background-color: bisque;
    color: rgb(150, 150, 255)
}
#diary {
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgb(223, 189, 121)
}