.background {
    background-color: rgb(40, 40, 255);
}

.grid-container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 7fr;
    background-color: aqua;
    gap: 10px;
    border: solid gray;
    grid-template-areas: 
        'a'
        'd'
        'g'
        'j'
        'm'
        'p'
        's'
}

.image {
    border: solid red;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#lazzi3 {
    grid-area: a;
}

#lazzi2 {
    grid-area: d;
}

#lazzi1 {
    grid-area: g;
}

#soop4 {
    grid-area: j;
}

#soop3 {
    grid-area: m;
}

#soop2 {
    grid-area: p;
}

#soop1 {
    grid-area: s;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 7fr ;
    background-color: aqua;
    gap: 10px;
    border: solid gray;
    grid-template-areas: 
}